<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Introduction – Bageshwar Dham</h4>
                                    <h4 class="subheading">Vishnu resides in every particle, Shri Ram resides in every person. Mother Janaki resides in the soul, Hanuman resides in the mind</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Vishnu resides in every particle, Shri Ram resides in every person. Mother Janaki resides in the soul, Hanuman resides in the mind.

                                        The tradition of human welfare and public service, which was started by Sanyasi Baba about 300 years ago, is now being carried forward by Pujya Dhirendra Krishna Shastri, the successor of Shri Dada Guruji Maharaj, blessed by Balaji Maharaj, whom the whole world knows as Bageshwar Dham Sarkar. To remove the sufferings of the devotees, God himself does not sit on this earth but sends one of his envoy. Bageshwar Dham Sarkar is one such devotee of Balaji who has his immense blessings. Whoever comes here to take shelter from Balaji Maharaj with his wish, Balaji Maharaj gets it fulfilled through his ardent devotee Bageshwar Dham Sarkar.
                                        The testimony of the fame of Maharaj Shri Bageshwar Dham Sarkar with the blessings of Balaji Maharaj is given by his Kathas and the huge crowd of devotees in his Darbar. To have the darshan of Maharaj Shri and to get a glimpse of him, devotees from many places come to his Kathas happening across the country and listen to his divine speech.
                                        Born on 4th July 1996 in a Saryupariya Brahmin family in the village Gadha of Chhatarpur district of Madhya Pradesh, in the family of father Shri Ramkripal Ji Maharaj and devoted mother Saroj, Pujya Gurudev’s childhood was spent in poverty and misery. The family belonged to a ritualistic Brahmin, so the Dakshina received during the puja would be enough to support the family of 5 people. In such a situation, Pujya Maharaj Shri had to leave his education incomplete. The eldest of three siblings, Gurudev’s entire childhood was spent making arrangements for the survival of his family.
                                        
                                        But one day, by the permission and grace of Balaji Maharaj, he got the company of his grandfather Sri Sri 1008 Dada Guru Ji Maharaj and with the blessings and orders of Dada Guru, Maharaj got engaged in the service of Sri Balaji Maharaj. Sanyasi Baba spread the glory of this Dham across the world and today the result is the crowd of lakhs of devotees reaching the Dham every Tuesday and Saturday.
                                        
                                        Gurudev’s resolve and his fame will be remembered for ages for the way mankind has benefited through public welfare and social welfare works. Don’t live for yourself, live for others, give all your time in the service of humanity with the resolve to do something for others, salutations to such a great saint again and again…</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pujya Gurudev’s resolutions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The resolutions of Pujya Dhirendra Krishna Shastri ji, the Peethadhishwar of Bageshwar Dham, have created a different definition of social welfare and public welfare. A living example of Maharajshree’s resolutions are the Annapurna Rasoi (Kitchen) running in the Dham premises, the marriage of poor and destitute daughters every year with the Chadotri (offering) of the Dham, Gurukul in the Dham premises for Vedic education, Bageshwar gardens across the country for environmental protection, slogans for cow protection. – The solution is not a cow shed, one Hindu, one cow and making arrangements for food and education for the helpless children…now devotees from India and abroad are joining these noble resolutions of Maharaj Shri.

                                        You also join the resolutions of respected Gurudev and become a partaker of the virtue by cooperating in protecting Sanatan Dharma and serving humanity…</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>