<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="https://i.pinimg.com/564x/89/9c/77/899c770a1ead4765e450bbe12ebcd854.jpg" alt="Image Description" class="img-fluid" style="max-width: 60%; padding: 2px 3px; height: auto;">
                    <h2 class="section-heading">Bageshwar Dham</h2>
                    <h3 class="section-subheading">‘Bageshwar Dham’, located in village Gadha of Chhatarpur district of Madhya Pradesh, is famous in the country and abroad for the divinity of Swayambhu Hanuman Ji.
                         Bageshwar Dham is the divine land of many ascetics, where people get the blessings of Balaji Maharaj just by having darshan.
                         Here Balaji Maharaj listens to your problem through Arzi and gets the solution through the Peethadhishwar of the Dham,
                          Pujya Dhirendra Krishna Shastri Ji Maharaj, whom the world called as Bageshwar Dham Sarkar.</h3>
                </div>
            </div>
        </div>
    </section>